In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.metrics import f1_score 
from sklearn.metrics import accuracy_score

In [189]:
#When running from colab
df = pd.read_csv("/content/drive/MyDrive/DMGAssignment3/covtype_train.csv")
df

               Elevation         Aspect  ... Wilderness target
0       elevation_medium  aspect_medium  ...          0      2
1         elevation_high  aspect_medium  ...          2      1
2       elevation_medium     aspect_low  ...          2      2
3         elevation_high   aspect_ultra  ...          2      1
4         elevation_high    aspect_high  ...          0      2
...                  ...            ...  ...        ...    ...
406703   elevation_ultra  aspect_medium  ...          0      7
406704  elevation_medium     aspect_low  ...          0      2
406705  elevation_medium  aspect_medium  ...          0      2
406706    elevation_high    aspect_high  ...          0      2
406707  elevation_medium   aspect_ultra  ...          2      2

[406708 rows x 11 columns]

In [2]:
#When running locally
df = pd.read_csv("covtype_train.csv")
df

,Elevation,Aspect,Slope,Hillshade_9am,Hillshade_Noon,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Fire_Points,Soil_Type,Wilderness,target
0,elevation_medium,aspect_medium,slope_low,hillshade_9am_max,hillnoon_max,0,1,low,22,0,2
1,elevation_high,aspect_medium,slope_low,hillshade_9am_max,hillnoon_max,1,1,mid,32,2,1
2,elevation_medium,aspect_low,slope_low,hillshade_9am_max,hillnoon_max,1,1,low,10,2,2
3,elevation_high,aspect_ultra,slope_medium,hillshade_9am_max,hillnoon_max,2,1,low,23,2,1
4,elevation_high,aspect_high,slope_low,hillshade_9am_max,hillnoon_max,2,1,mid,28,0,2
...,...,...,...,...,...,...,...,...,...,...,...
406703,elevation_ultra,aspect_medium,slope_low,hillshade_9am_max,hillnoon_max,1,1,mid,39,0,7
406704,elevation_medium,aspect_low,slope_medium,hillshade_9am_max,hillnoon_max,0,1,mid,28,0,2
406705,elevation_medium,aspect_medium,slope_low,hillshade_9am_max,hillnoon_max,0,1,mid,28,0,2
406706,elevation_high,aspect_high,slope_low,hillshade_9am_max,hillnoon_max,2,2,low,28,0,2
406707,elevation_medium,aspect_ultra,slope_low,hillshade_9am_max,hillnoon_max,0,1,low,30,2,2

In [3]:
df.drop_duplicates(keep=False,inplace=True)

In [4]:
df.shape

(2239, 11)

In [5]:
df['target'].value_counts()

2    781
1    706
7    233
3    197
6    149
5    135
4     38
Name: target, dtype: int64

In [6]:
#One hot encoding implementation
features=df.columns
features=features[:-1]
target=df.columns[-1]
one_hot_features=pd.get_dummies(df[features])
one_hot_features

,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Soil_Type,Wilderness,Elevation_elevation_high,Elevation_elevation_low,Elevation_elevation_medium,Elevation_elevation_ultra,Aspect_aspect_high,Aspect_aspect_low,...,Slope_slope_low,Slope_slope_medium,Slope_slope_ultra,Hillshade_9am_hillshade_9am_max,Hillshade_9am_hillshade_9am_min,Hillshade_Noon_hillnoon_max,Hillshade_Noon_hillnoon_min,Horizontal_Distance_To_Fire_Points_high,Horizontal_Distance_To_Fire_Points_low,Horizontal_Distance_To_Fire_Points_mid
421,1,1,1,3,0,1,0,0,0,0,...,1,0,0,1,0,1,0,0,1,0
954,1,2,21,2,0,0,1,0,0,1,...,0,1,0,1,0,1,0,0,1,0
1278,1,1,23,0,0,0,1,0,0,0,...,0,1,0,1,0,1,0,1,0,0
1505,2,1,30,2,0,0,1,0,0,1,...,1,0,0,1,0,1,0,0,1,0
1567,0,1,9,3,0,1,0,0,0,0,...,0,1,0,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405630,2,2,3,2,1,0,0,0,1,0,...,1,0,0,1,0,1,0,0,1,0
405688,1,1,19,0,0,0,1,0,0,1,...,0,1,0,1,0,1,0,0,1,0
405828,3,0,28,0,1,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,1
405883,0,1,2,2,0,1,0,0,0,0,...,1,0,0,1,0,1,0,0,1,0
406025,0,1,39,2,1,0,0,0,0,1,...,0,1,0,1,0,1,0,0,1,0

In [7]:
def splitting(features,target,p):
  splitting_index= int(p * features.shape[0])
  train_X=features[0:splitting_index]
  train_y=target[0:splitting_index]
  test_X=features[splitting_index:]
  test_y= target[splitting_index:]
  return train_X,train_y,test_X,test_y

In [8]:
train_X,train_y,test_X,test_y= splitting(one_hot_features,df[target],0.8)

In [9]:
train_X.shape

(1791, 23)

In [10]:
#Predict function for testing when splitting the data
def predict(test_set,model,cluster_labels) :
    # find and load your best model
    # Do all preprocessings inside this function only.
    # predict on the test set provided
    '''
    'test_set' is a csv path "test.csv", You need to read the csv and predict using your model.
    '''
    
    '''
    prediction is a 1D 'list' of output labels. just a single python list.
    '''
    test_predicted_clusters = model.predict(test_set)
    prediction= np.array([cluster_labels[i] for i in test_predicted_clusters])
    return prediction

Kmeans

Grid Search

In [11]:
for alg in ['auto','full','elkan']:  
  for k in range(7,50,2):
    kmeans_model = KMeans(n_clusters=k,algorithm=alg,random_state=0)
    kmeans_model.fit(train_X)
    predicted_clusters = kmeans_model.predict(train_X)
    cluster_labels = []
    for i in range(kmeans_model.n_clusters):
      dist = np.unique(train_y[predicted_clusters==i], return_counts=True)
      #print(dist)
      cluster_labels.append(dist[0][np.argmax(dist[1])])

    prediction_test = predict(test_X,kmeans_model,cluster_labels)
    score = f1_score(test_y,prediction_test,average = 'micro')
    print(alg,k,score)

auto 7 0.45982142857142855
auto 9 0.45982142857142855
auto 11 0.45982142857142855
auto 13 0.45982142857142855
auto 15 0.45089285714285715
auto 17 0.46651785714285715
auto 19 0.43973214285714285
auto 21 0.453125
auto 23 0.484375
auto 25 0.44866071428571436
auto 27 0.46875
auto 29 0.45982142857142855
auto 31 0.48214285714285715
auto 33 0.4732142857142857
auto 35 0.48660714285714285
auto 37 0.45535714285714285
auto 39 0.43973214285714285
auto 41 0.46651785714285715
auto 43 0.43080357142857145
auto 45 0.4419642857142857
auto 47 0.47098214285714285
auto 49 0.45089285714285715
full 7 0.45982142857142855
full 9 0.45982142857142855
full 11 0.45982142857142855
full 13 0.45982142857142855
full 15 0.453125
full 17 0.46651785714285715
full 19 0.43973214285714285
full 21 0.453125
full 23 0.453125
full 25 0.42857142857142855
full 27 0.42857142857142855
full 29 0.44866071428571436
full 31 0.49330357142857145
full 33 0.45982142857142855
full 35 0.41964285714285715
full 37 0.46875
full 39 0.42633928571428575
full 41 0.4642857142857143
full 43 0.4330357142857143
full 45 0.46651785714285715
full 47 0.47767857142857145
full 49 0.45089285714285715
elkan 7 0.45982142857142855
elkan 9 0.45982142857142855
elkan 11 0.45982142857142855
elkan 13 0.45982142857142855
elkan 15 0.45089285714285715
elkan 17 0.46651785714285715
elkan 19 0.43973214285714285
elkan 21 0.453125
elkan 23 0.484375
elkan 25 0.44866071428571436
elkan 27 0.46875
elkan 29 0.45982142857142855
elkan 31 0.48214285714285715
elkan 33 0.4732142857142857
elkan 35 0.48660714285714285
elkan 37 0.45535714285714285
elkan 39 0.43973214285714285
elkan 41 0.46651785714285715
elkan 43 0.43080357142857145
elkan 45 0.4419642857142857
elkan 47 0.47098214285714285
elkan 49 0.45089285714285715

Selected model

In [12]:
kmeans_model = KMeans(n_clusters=35,random_state=0)
kmeans_model.fit(train_X)
predicted_clusters = kmeans_model.predict(train_X)
cluster_labels = []
for i in range(kmeans_model.n_clusters):
  dist = np.unique(train_y[predicted_clusters==i], return_counts=True)
  #print(dist)
  cluster_labels.append(dist[0][np.argmax(dist[1])])

prediction_test = predict(test_X,kmeans_model,cluster_labels)
score = f1_score(test_y,prediction_test,average = 'micro')
accuracy = accuracy_score(test_y,prediction_test)
print('Balanced F1 score',score,'Accuracy',accuracy,sep='\t')

Balanced F1 score	0.48660714285714285	Accuracy	0.48660714285714285

In [ ]:
a

Storing model and cluster labels learnt from train data given to use in inference.py

In [171]:
#import pickle

In [172]:
#d = {'model':kmeans_model,'cluster_labels':cluster_labels}

In [173]:
#with open("model.pkl", "wb") as f:
 # pickle.dump(d, f)

Gaussian Try!

In [13]:
train_y.value_counts()

2    641
1    552
7    185
3    153
6    119
5    112
4     29
Name: target, dtype: int64

In [14]:
from sklearn.mixture import GaussianMixture

In [15]:
GM_model=GaussianMixture(n_components=7)
GM_model.fit(train_X)

GaussianMixture(n_components=7)

In [16]:
predicted_clusters = GM_model.predict(train_X)
np.unique(predicted_clusters)

array([0, 1, 2, 3, 4, 5, 6])

In [17]:
cluster_labels = []
for i in range(7):
  dist = np.unique(train_y[predicted_clusters==i], return_counts=True)
  #print(dist)
  cluster_labels.append(dist[0][np.argmax(dist[1])])
cluster_labels

[1, 2, 1, 2, 2, 2, 1]

In [18]:
prediction_test = predict(test_X,GM_model,cluster_labels)
#prediction_test

In [19]:
f1_score(test_y,prediction_test,average = 'micro')

0.3794642857142857